<div class="card h-md-100">
  <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bold text-gray-900">O que está a Acontecer?</span>
        <span class="text-muted mt-1 fw-semibold fs-7">Podemos pensar</span>
      </h3>
  </div>

  <div class="card-body pt-7 px-0">
      <ul class="nav nav-stretch nav-pills nav-pills-custom nav-pills-active-custom d-flex justify-content-between mb-8 px-5" role="tablist">
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-ancap active" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_1" aria-selected="true" role="tab">
                <span class="fs-7 fw-semibold">Fr</span>
                <span class="fs-6 fw-bold">20</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_2" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Sa</span>
                <span class="fs-6 fw-bold">21</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_3" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Su</span>
                <span class="fs-6 fw-bold">22</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_4" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Tu</span>
                <span class="fs-6 fw-bold">23</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_5" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Tu</span>
                <span class="fs-6 fw-bold">24</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_6" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">We</span>
                <span class="fs-6 fw-bold">25</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger " data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_7" aria-selected="false" tabindex="-1" role="tab">
                <span class="fs-7 fw-semibold">Th</span>
                <span class="fs-6 fw-bold">26</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger " data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_8" aria-selected="false" tabindex="-1" role="tab">
                <span class="fs-7 fw-semibold">Fri</span>
                <span class="fs-6 fw-bold">27</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger " data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_9" aria-selected="false" tabindex="-1" role="tab">
                <span class="fs-7 fw-semibold">Sa</span>
                <span class="fs-6 fw-bold">28</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_10" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Su</span>
                <span class="fs-6 fw-bold">29</span>
            </a>
        </li>
        <li class="nav-item p-0 ms-0" role="presentation">
            <a class="nav-link btn d-flex flex-column flex-center rounded-pill min-w-45px py-4 px-3 btn-active-danger" data-bs-toggle="tab" href="#kt_timeline_widget_3_tab_content_11" aria-selected="false" role="tab" tabindex="-1">
                <span class="fs-7 fw-semibold">Mo</span>
                <span class="fs-6 fw-bold">30</span>
            </a>
        </li>
      </ul>

      <div>asdfdafsdfadsfadsfa</div>
  </div>
</div>
