<div class="position-relative gap-0">
  <app-bootstrap-html-avatar
    *ngIf="user"
    [avatar]="avatar"
    (click)="showMenu = !showMenu"
    (keypress)="showMenu = !showMenu"
    tabindex="1"></app-bootstrap-html-avatar>
  <div *ngIf="user && showMenu" [ngClass]="getPanelClass()">
    <div class="card-body p-0">
      <ul class="mb-0 list-unstyled">
        <li class="border-bottom mb-3">
          <div class="d-flex align-items-center px-5 mb-4">
            <div class="symbol symbol-50px my-5 mb-0">
              <img
                alt=""
                [title]="user.firstname + ' ' + user.lastname"
                [src]="'data:image/png;base64,' + user.profile.avatar"
                *ngIf="user?.profile?.avatar" />
              <img
                alt=""
                [title]="user.firstname + ' ' + user.lastname"
                [src]="'assets/bootstrap-lib/media/avatars/blank.png'"
                *ngIf="!user?.profile?.avatar" />
            </div>
            <div class="d-flex flex-column ms-5 pt-5">
              <div class="fw-bold d-flex align-items-center fs-5">
                {{ user.firstname + ' ' + user.lastname }}
              </div>
              <span href="#" class="fw-semibold text-muted fs-7">
                {{ user.email }}
              </span>
            </div>
          </div>
        </li>
        <li
          (click)="changeAuthMenu($event, 'profile')"
          (keypress)="changeAuthMenu($event, 'profile')"
          tabindex="2"
          class="text-hover-ancap bg-hover-light cursor-pointer px-6 py-2 fw-semibold">
          Perfil
        </li>
        <li
          (click)="changeAuthMenu($event, 'logout')"
          (keypress)="changeAuthMenu($event, 'logout')"
          tabindex="2"
          class="text-hover-ancap bg-hover-light cursor-pointer px-6 py-2 mb-3 fw-semibold d-flex d-flex justify-content-between align-items-center">
          Sair
          <app-bootstrap-icon
            [icon]="logOutIcon"
            class="ml-auto"></app-bootstrap-icon>
        </li>
      </ul>
    </div>
  </div>

  <app-bootstrap-html-button
    *ngIf="!user"
    [button]="authIcon"
    (click)="showMenu = !showMenu"></app-bootstrap-html-button>
  <div *ngIf="!user && showMenu" [ngClass]="getPanelClass()">
    <div class="card-body">
      <h5 class="mb-7">Bem Vindo!</h5>
      <app-bootstrap-html-separator
        [separator]="separator"></app-bootstrap-html-separator>
      <app-bootstrap-forms-input
        [input]="emailInput"
        [control]="getControl('email')"></app-bootstrap-forms-input>
      <app-bootstrap-forms-input
        [input]="passwordInput"
        [control]="getControl('password')"
        (submitForm)="submit($event)"></app-bootstrap-forms-input>
      <app-bootstrap-html-button
        [button]="getSubmitButton()"
        (clicked)="submit($event)"></app-bootstrap-html-button>
    </div>
  </div>
</div>
