app-bootstrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select {
  position: relative;
  cursor: pointer;

  .options-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: none;
    z-index: 3;

    .list-group-item {
      padding: 10px;
      cursor: pointer;
      position: relative;
    }
  }

  .activate-scroll {
    max-height: 250px;
    overflow-y: auto;
  }

  .floatingAction {
    color: rgba(var(--bs-body-color-rgb), 0.65);
    animation: floatAnimationIn 0.2s ease-in-out forwards;
  }
  .reverseAnimation {
    color: rgb(var(--bs-body-color-rgb));
    animation: floatAnimationOut 0.2s ease-in-out forwards;
    margin-top: 4px;
  }
}

.select.floating {
  span.floatingContent {
    position: absolute;
    bottom: 9px;
  }
  .form-control {
    height: calc(3.75rem + 2px);
    min-height: calc(3.75rem + 2px);
    line-height: 1.25;
  }
}
@keyframes floatAnimationIn {
  100% {
    opacity: 0.65;
    font-size: 0.85em;
    transform: translateY(-0.4rem) translateX(0rem);
  }
}

@keyframes floatAnimationOut {
  0% {
    opacity: 0.65;
    font-size: 0.85em;
    transform: translateY(-0.4rem) translateX(0rem);
  }
  100% {
    opacity: 1;
    font-size: 1em;
    transform: translateY(0) translateX(0);
  }
}

.invalid-feedback {
  display: block;
}
