// standard body font
.font-roboto {
  font-family: var(--bs-font-sans-serif);
}
// standard heading font
h1,
h2,
h3,
h4,
h5,
h6,
.font-title,
.font-montserrat {
  font-family: 'Montserrat';
}
.font-droid {
  font-family: 'Droid Serif', serif;
}
.font-kaushan {
  font-family: 'Kaushan Script';
}

.text-justify {
  text-align: justify !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
app-bootstrap-html-table {
  width: 100%;
}

.btn {
  // Font icon
  > app-bootstrap-icon > i,
  > app-bootstrap-html-spinner,
  > i {
    display: inline-flex;
    font-size: $font-size-base;
    vertical-align: middle;
  }
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .form-switch .form-check-input {
      border-color: var(--bs-gray-400);
    }
  }
} @else {
  .form-switch.form-check-solid-white .form-check-input:not(:checked) {
    background-color: white;
    --#{$prefix}form-switch-bg: #{escape-svg($form-switch-bg-image)};
  }
}

.btn-check:checked + .btn.btn-capan,
.btn-check:active + .btn.btn-capan,
.btn.btn-capan:focus:not(.btn-active),
.btn.btn-capan:hover:not(.btn-active),
.btn.btn-capan:hover:not(.btn-active),
.btn.btn-capan:active:not(.btn-active),
.btn.btn-capan.active,
.btn.btn-capan.show,
.show > .btn.btn-capan {
  color: var(--bs-capan);
  app-bootstrap-icon i {
    color: var(--bs-capan);
  }
}
.btn-check:checked + .btn.btn-ancap,
.btn-check:active + .btn.btn-ancap,
.btn.btn-ancap:focus:not(.btn-active),
.btn.btn-ancap:hover:not(.btn-active),
.btn.btn-ancap:active:not(.btn-active),
.btn.btn-ancap.active,
.btn.btn-ancap.show,
.show > .btn.btn-ancap {
  color: var(--bs-ancap);
  app-bootstrap-icon i {
    color: var(--bs-ancap);
  }
}

.menu-here-bg-light-primary .menu-item.here > .menu-link .menu-title,
.menu-active-bg-primary .menu-item .menu-link.active .menu-title,
.app-header-menu .menu .menu-item .menu-link.active .menu-title {
  font-weight: bold;
}

[data-bs-theme='dark'] {
  img.logoPL {
    filter: invert(75%) sepia(65%) saturate(512%) hue-rotate(348deg)
      brightness(103%) contrast(101%);
  }
  .card-header {
    .btn-active-dark {
      span {
        color: $capan;
      }
    }
    .btn-active-dark:hover {
      span {
        color: $ancap;
      }
    }
    .elements {
      .btn-active-light-capan {
        span {
          color: $capan;
        }
      }
    }
  }
}
