<div [ngClass]="getMenuClass()" *ngIf="menu">
  <div
    *ngFor="let menuItem of menu?.items; let i = index"
    [ngClass]="getMenuItemClass(i)"
    (mouseenter)="menuHoverEnter($event, i)"
    (mouseleave)="menuHoverLeave($event, i)"
    (click)="menuClicked($event, i)"
    (keydown)="menuClicked($event, i)"
    (touchstart)="mobileEnter($event, i)"
    (touchend)="mobileLeave($event, i)"
    tabindex="1">
    <a
      *ngIf="menuItem.slug"
      [ngClass]="getMenuItemLinkClass(i)"
      [routerLink]="menuItem.slug"
      [fragment]="getMenuFragment(i)"
      (click)="closeAll()"
      (keydown)="closeAll()"
      tabindex="2">
      <span class="menu-icon" *ngIf="menuItem.iconFirst">
        <app-bootstrap-icon [icon]="menuItem.iconFirst"></app-bootstrap-icon>
      </span>
      <span [ngClass]="getMenuItemTitleClass(i)" *ngIf="menuItem.title">{{
        menuItem.title
      }}</span>
      <span class="menu-icon" *ngIf="menuItem.iconLast">
        <app-bootstrap-icon [icon]="menuItem.iconLast"></app-bootstrap-icon>
      </span>
      <span class="menu-badge" *ngIf="menuItem.badge">
        <app-bootstrap-html-badge
          [badge]="menuItem.badge"></app-bootstrap-html-badge>
      </span>
      <app-bootstrap-html-button
        *ngIf="menuItem.items?.length && menuItem.button"
        [ngClass]="{
          'd-none': menuItem.cssSubMenuClass?.includes('no-toggle'),
        }"
        [button]="menuItem.button"></app-bootstrap-html-button>
    </a>
    <a *ngIf="!menuItem.slug" [ngClass]="getMenuItemLinkClass(i)">
      <span class="menu-icon" *ngIf="menuItem.iconFirst">
        <app-bootstrap-icon [icon]="menuItem.iconFirst"></app-bootstrap-icon>
      </span>
      <span [ngClass]="getMenuItemTitleClass(i)" *ngIf="menuItem.title">{{
        menuItem.title
      }}</span>
      <span class="menu-icon" *ngIf="menuItem.iconLast">
        <app-bootstrap-icon [icon]="menuItem.iconLast"></app-bootstrap-icon>
      </span>
      <span class="menu-badge" *ngIf="menuItem.badge">
        <app-bootstrap-html-badge
          [badge]="menuItem.badge"></app-bootstrap-html-badge>
      </span>
      <app-bootstrap-html-button
        *ngIf="menuItem.items?.length && menuItem.button"
        [ngClass]="{
          'd-none': menuItem.cssSubMenuClass?.includes('no-toggle'),
        }"
        [button]="menuItem.button"></app-bootstrap-html-button>
    </a>

    <!-- INI layer 1-->
    <div [ngClass]="getSubMenuContainerClass(i)" *ngIf="menuItem.items">
      <div
        *ngFor="let subMenuItem of menuItem.items; let j = index"
        [ngClass]="getMenuItemClass(i, j)"
        (click)="menuClicked($event, i, j)"
        (keydown)="menuClicked($event, i, j)"
        (mouseenter)="menuHoverEnter($event, i, j)"
        (mouseleave)="menuHoverLeave($event, i, j)"
        tabindex="3">
        <!--
         (touchstart)="mobileEnter($event, i, j)"
        -->
        <a
          *ngIf="subMenuItem.slug"
          [ngClass]="getMenuItemLinkClass(i, j)"
          [routerLink]="subMenuItem.slug"
          [fragment]="getSubMenuFragment(i, j)"
          (click)="closeAll()"
          (keydown)="closeAll()"
          tabindex="4">
          <span class="menu-icon" *ngIf="subMenuItem.iconFirst">
            <app-bootstrap-icon
              [icon]="subMenuItem.iconFirst"></app-bootstrap-icon>
          </span>
          <span
            [ngClass]="getMenuItemTitleClass(i, j)"
            *ngIf="subMenuItem.title"
            >{{ subMenuItem.title }}</span
          >
          <span class="menu-icon" *ngIf="subMenuItem.iconLast">
            <app-bootstrap-icon
              [icon]="subMenuItem.iconLast"></app-bootstrap-icon>
          </span>
          <span class="menu-badge" *ngIf="subMenuItem.badge">
            <app-bootstrap-html-badge
              [badge]="subMenuItem.badge"></app-bootstrap-html-badge>
          </span>
          <app-bootstrap-html-button
            *ngIf="subMenuItem.items?.length && subMenuItem.button"
            [ngClass]="{
              'd-none': subMenuItem.cssSubMenuClass?.includes('no-toggle'),
            }"
            [button]="subMenuItem.button"></app-bootstrap-html-button>
        </a>
        <a *ngIf="!subMenuItem.slug" [ngClass]="getMenuItemLinkClass(i, j)">
          <span class="menu-icon" *ngIf="subMenuItem.iconFirst">
            <app-bootstrap-icon
              [icon]="subMenuItem.iconFirst"></app-bootstrap-icon>
          </span>
          <span
            [ngClass]="getMenuItemTitleClass(i, j)"
            *ngIf="subMenuItem.title"
            >{{ subMenuItem.title }}</span
          >
          <span class="menu-icon" *ngIf="subMenuItem.iconLast">
            <app-bootstrap-icon
              [icon]="subMenuItem.iconLast"></app-bootstrap-icon>
          </span>
          <span class="menu-badge" *ngIf="subMenuItem.badge">
            <app-bootstrap-html-badge
              [badge]="subMenuItem.badge"></app-bootstrap-html-badge>
          </span>
          <app-bootstrap-html-button
            *ngIf="subMenuItem.items?.length && subMenuItem.button"
            [ngClass]="{
              'd-none': subMenuItem.cssSubMenuClass?.includes('no-toggle'),
            }"
            [button]="subMenuItem.button"></app-bootstrap-html-button>
        </a>

        <!-- INI layer 2 -->
        <div
          [ngClass]="getSubSubMenuContainerClass(i, j)"
          *ngIf="subMenuItem.items">
          <div
            *ngFor="let subSubMenuItem of subMenuItem.items; let k = index"
            [ngClass]="getMenuItemClass(i, j, k)"
            (click)="menuClicked($event, i, j, k)"
            (keydown)="menuClicked($event, i, j, k)"
            tabindex="5">
            <a
              *ngIf="subSubMenuItem.slug"
              [ngClass]="getMenuItemLinkClass(i, j, k)"
              [routerLink]="subSubMenuItem.slug"
              [fragment]="getSubMenuFragment(i, j, k)"
              (click)="closeAll()"
              (keydown)="closeAll()"
              tabindex="2">
              <span class="menu-icon" *ngIf="subSubMenuItem.iconFirst">
                <app-bootstrap-icon
                  [icon]="subSubMenuItem.iconFirst"></app-bootstrap-icon>
              </span>
              <span
                [ngClass]="getMenuItemTitleClass(i, j, k)"
                *ngIf="subSubMenuItem.title">
                {{ subSubMenuItem.title }}
              </span>
              <span class="menu-icon" *ngIf="subSubMenuItem.iconLast">
                <app-bootstrap-icon
                  [icon]="subSubMenuItem.iconLast"></app-bootstrap-icon>
              </span>
              <span class="menu-badge" *ngIf="subSubMenuItem.badge">
                <app-bootstrap-html-badge
                  [badge]="subSubMenuItem.badge"></app-bootstrap-html-badge>
              </span>
            </a>
            <a
              *ngIf="!subSubMenuItem.slug"
              [ngClass]="getMenuItemLinkClass(i, j, k)">
              <span class="menu-icon" *ngIf="subSubMenuItem.iconFirst">
                <app-bootstrap-icon
                  [icon]="subSubMenuItem.iconFirst"></app-bootstrap-icon>
              </span>
              <span
                [ngClass]="getMenuItemTitleClass(i, j, k)"
                *ngIf="subSubMenuItem.title"
                >{{ subSubMenuItem.title }}</span
              >
              <span class="menu-icon" *ngIf="subSubMenuItem.iconLast">
                <app-bootstrap-icon
                  [icon]="subSubMenuItem.iconLast"></app-bootstrap-icon>
              </span>
              <span class="menu-badge" *ngIf="subSubMenuItem.badge">
                <app-bootstrap-html-badge
                  [badge]="subSubMenuItem.badge"></app-bootstrap-html-badge>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
