<div class="row">
  <div class="col-xs-12 d-none d-md-block">
    <app-bootstrap-navigation-tabs
      [tabs]="horizontalAccordion"></app-bootstrap-navigation-tabs>
  </div>
  <div class="col-xs-12 d-md-none">
    <app-bootstrap-navigation-accordion
      [accordion]="mobileAccordion"></app-bootstrap-navigation-accordion>
  </div>
</div>

<ng-template #admin> admin </ng-template>
<ng-template #nacional> nacional </ng-template>
<ng-template #distrito> distrito </ng-template>
<ng-template #concelho> concelho </ng-template>
<ng-template #freguesia> freguesia </ng-template>
