.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}
.show-password {
  cursor: pointer;
}
.invalid-feedback {
  display: block;
}
.mb-special {
  margin-bottom: 0.375rem !important;
}
.mb-2-5 {
  margin-bottom: 0.625rem !important;
}
.mb-4-5 {
  margin-bottom: 1.13rem !important;
}

app-bootstrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='password'].register::-ms-reveal {
  padding-left: 30px;
  padding-bottom: 0px !important;
  margin-bottom: 15px !important;
}
