<div class="row gx-5 gx-xl-12 mb-xl-10">
  <div class="col-sm-6 col-lg-6 order-xl-1 col-xl-3 mb-10">
    <div class="card card-bordered shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Perfis</h3>
      </div>
      <div class="card-body"></div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-6 order-xl-3 col-xl-3 mb-10">
    <div class="card card-bordered shadow-sm">
      <div class="card-header">
        <h3 class="card-title">Permissões</h3>
      </div>
      <div class="card-body"></div>
    </div>


  </div>

  <div class="col-sm-12 col-lg-12 order-xl-2 col-xl-6 mb-10">
    <h3 class="mb-5">Utilizadores Associados</h3>
    <div class="card card-bordered">
      <div class="card-body"></div>
    </div>
  </div>
</div>
